body {
  background: white;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
}

/* NAVBAR */
.custom-navbar {
  background: white;
  border-bottom: 1px solid #1e293b;
}

.logo {
  height: 45px;
  width: auto;
  object-fit: contain;
}

/* Ajuste en mobile */
@media (max-width: 768px) {
  .logo {
    height: 32px;
  }
}

/* LINKS */
.nav-link {
  color: #0b2477 !important;
  position: relative;
  transition: 0.3s;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #38bdf8;
  transition: 0.3s;
}

.nav-link:hover {
  color: #38bdf8 !important;
  transform: translateY(-2px);
}

.nav-link:hover::after {
  width: 100%;
}

/* USUARIO */
.user {
  font-size: 14px;
  color: #0b2477;
}

.btn {
  color: #0b2477;
}

.hero-row {
  min-height: 100vh;
}

/* IMAGEN */
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXTO */
.hero-text {
  background: #3f6b8c; /* más tipo N26 */
  color: white;
  padding: 90px;
}

.hero-text h1 {
  font-size: 42px;
  font-weight: bold;
}

.hero-text p {
  font-size: 18px;
  margin-top: 15px;
  opacity: 0.9;
}
@media (max-width: 992px) {
  .hero-row {
    min-height: auto;
  }

  .hero-img img {
    height: 260px;
  }

  .hero-text {
    padding: 30px 20px;
  }

  .hero-text h1 {
    font-size: 26px;
  }
}

.card {
  border-radius: 9px;
  background: #e5e8eb;
}

.card2 {
  border-radius: 9px;
  background: #366185;
}

.caja {
  background: #2b4d69;
  color: white;
}

input,
select {
  border-radius: 10px !important;
}

button {
  border-radius: 10px;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.02);
}

.btn-custom {
  background: #38bdf8;
  color: white;
  border-radius: 16px;
}

.btn-custom:hover {
  background: #020617;
  color: #38bdf8;
  border-color: #38bdf8;
}

footer {
  background: linear-gradient(90deg, #294b66, #366185);
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: #38bdf8;
}
